* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#end {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10000;
}

* {
  -webkit-user-select: none;
}

input {
  border: none;
  outline: none;
}

.main {
  width: calc(100% - 50px);
  height: calc(100% - 80px);
  display: flex;
  margin-left: 25px;
  padding-right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main .Home {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#router {
  width: 100vw;
  height: 100vh;
}

.index {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}



.titleBar {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 0 25px;
  position: relative;
}

.titleBar .return {
  display: flex;
  align-items: center;
}

.titleBar .return svg {
  margin-right: 25px;
}

.titleBar .return svg:nth-child(2) {
  transform: rotate(180deg);
}

.titleBar .search {
  width: 20%;
  min-width: 250px;
  display: flex;
  height: 40px;
  align-items: center;
  position: relative;
  -webkit-app-region: no-drag;
}

.titleBar .search input {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  border-radius: 25px;
  padding: 0 0 0 50px;
}

.titleBar .search svg {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 15px;
}

.titleBar .search path {
  fill: #717171;
}

.titleBar .searchBox {
  width: 400px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #aaaaaa;
  position: absolute;
  top: 50px;
  z-index: 100;
  border-radius: 10px;
  display: flex;
}

.titleBar .searchBox ul {
  width: 50%;
  list-style: none;
}

.titleBar .searchBox ul:nth-child(1) {
  border-right: 1px solid #e6e6e6;
}

.titleBar .searchBox ul li {
  display: flex;
  padding: 10px 25px;
  justify-content: space-between;
}

.titleBar .searchBox ul li:hover {
  background-color: #eee;
}

.titleBar .searchBox ul li p {
  font-size: 1em;
}

.titleBar .searchBox ul li p:nth-child(2) {
  color: #717171;
  font-size: 0.9em;

}

.titleBar .searchBox .title {
  font-size: 1.0em;
  padding: 15px 25px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.index>.right {
  min-width: calc(100vw - 250px);
}

.index>.left>.nav {
  margin-top: 20px;
}

.index>.left .nav>.title {
  font-size: 0.9em;
  color: #717171;
  margin-left: 40px;
  margin-top: 25px;
}

.index>.left {
  min-width: 250px;
  height: 100%;
  background-color: #eee;
}

.index>.left>.icon {
  width: 100%;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.index>.left>.icon img {
  width: 40px;
  height: 40px;
}

.index>.left>.icon p {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15px;
}


