* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#end {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
}
* {
  -webkit-user-select: none;
}
input {
  border: none;
  outline: none;
}

.main {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  padding: 25px;
  overflow: scroll;
}
.playcard {
  min-width: 235px;
  min-height: 235px;
  margin-right: 35px;
  border-radius: 5px;
}
.index {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
}
*::-webkit-scrollbar {
  height: 0;
  padding: 0;
}

.titleBar {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 0 25px;
  -webkit-app-region: drag;
}

.titleBar .search {
  width: 20%;
  min-width: 250px;
  display: flex;
  height: 40px;
  align-items: center;
  position: relative;
  -webkit-app-region: no-drag;
}

.titleBar .search input {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  border-radius: 25px;
  padding: 0 0 0 50px;
}

.titleBar .search svg {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 15px;
}

.titleBar .search path {
  fill: #717171;
}

.right {
  width: calc(100vw - 250px);
}

.left > .nav {
  margin-top: 20px;
}

.left .nav > .title {
  font-size: 0.9em;
  color: #717171;
  margin-left: 40px;
  margin-top: 25px;
}

.left {
  width: 250px;
  min-width: 250px;
  height: 100vh;
  background-color: #eee;
}

.left > .icon {
  width: 100%;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.left > .icon img {
  width: 40px;
  height: 40px;
}

.left > .icon p {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15px;
}
